<section class="main-section">
  <div class="container1">
    <h1 class="title3">「今日どうする？」<br>解決します。</h1>
  </div>
</section>
<section class="main-section">
  <div class="contents-width">
    <header class="section-header contents-tidy bottom-line">
      <h2 class="titel">
        <span>どんなサービス？</span>
      </h2>
      <p>What services?</p>
    </header>
    <div class="main-text">
      <div class="sub-text">
        <p>皆さんはこんな会話一度は経験したことありませんか？<br>「Aさん:今日どこ行く？」<br>「Bさん:どこでいいよ〜」<br>私はこのような会話は数え切れない程してきました。そんな問題を解決するのがこのサービスです！</p>
      </div>
      <h2 class="titel2">
        <span>使い方</span>
      </h2>
      <div class="sub-text">
        <p>まず新規登録し、ログインをすると検索できるようになります。<br>調べた県のドライブスポットなどが出てきます。<br>更にレビュー機能やいいね機能などがあり、事前に知りたい情報を知ることができます。
        <br>逆にレビューなどの投稿をすることができ、皆様と情報交換できます！
        <br>皆さんで、いい場所・穴場スポット・ドライブスポットを共有していきましょう！</p>
      </div>
      <div class="ikou_btn">
        <a href="/users/sign_in" class="btn btn-border"><span>まずはログインから！</span></a>
      </div>
    </div>
  </div>
</section>
