// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /*ユーザー一覧*/
 
 h1.users-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 120px;
 }
 
 form#edit_user {
  margin-left: 25%;
 }
 
 input#user_username {
  width: 450px;
 }
 
 input#user_email {
  width: 450px;
 }
 
 input#user_password {
  width: 450px;
 }
 
 input#user_password_confirmation {
  width: 450px;
 }
 
 input#user_current_password {
  width: 450px;
 }
 
 label {
  font-weight: bold;
 }
 
 .hero1.is-info1 {
  background-color: green;
  color: #fff;
 }
 
 .hero1.is-info1 .title {
  color: #fff;
  text-align: center;
 }

 input#user_profile {
  width: 500px;
  height: 200px;
}

/*ユーザー登録一覧*/

 .user-right {
  border-bottom: 1px solid black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}

/*ユーザー詳細*/

.user {
  text-align: center;
  font-size: 25px;
  margin-bottom: 250px;
}

.backbutton {
  margin-left: 50%;
  font-size: 20px;
}
